/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - ;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
  font-family: 'Quicksand', sans-serif;
}

.gradient {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}


div {
  color: #ffffff;
}

.message-selection-box {
  margin-bottom: 60px;
  width: 500px;
  height: 150px;
}

.receive-message {
  display: block;
  background-color: #134d71;
  color: #ffffff;
}

.message-box {
  width: 800px;
  height: 250px;
}

img {
  margin: 0 auto;
  height: 45px;
  width: 37px;
}
